#movies img, #movie img{
    width: auto;
}
.h5, h5{
    font-size: 1rem;
}
.card{
    padding: 20px;
}
@media(min-width:765px){
    #movies .col-md-3 {
        height: 390px;
    }

    #movies .col-md-3 img{
        height: 240px;
    }
}